<!DOCTYPE html>
<html>
    <head>
        <title>Remote Jobs</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <header>
        <h1>Remote Jobs</h1>
    </header>
    <main>
        <div>
            <form action="/list" method="GET">
                <h2>Search by terms: </h1>
                <input type="text" name="term" id="term" placeholder="term">
                <button type="submit">Find my job</button>                
            </form>
        </div>
    </main>
</html>